<%= form_for([@lecture, @lecture.comments.build]) do |f| %>
				<!-- <form role="form"> -->
				<div class="form-group">
					<%= f.text_area :content, :class=>"form-control", :rows=>3%>
				</div>
				<div class="actions">
				<!-- <%= f.submit "Submit", :class=>"btn btn-primary"%> -->
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
				</div>
<% end %>
